.account-page{
  width:100vw;
  height:100vh;
  padding:40px 0;
  &__inner{
    max-width: 530px;
    height: 700px;
    margin: 0 auto;
    padding: 20px 40px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-size: 16px;
    color: #999;
    position: relative;
    }
  &__header{
    margin:20px 0;
  }
  &__form{
    margin:20px 0;
    &__field{
      &--label{
        display: inline-block;
        margin-bottom:10px;
      }
      &--input{
        width:450px;
        height:40px;
        border-radius: 5px;
        padding:0 10px;
      }
      &--btn{
        margin:20px auto;
        width:450px;
        height:45px;
        background-color: #20aee5;
        border-color: #2f9ac4;
        color: #fff;
        border-radius: 5px;
        &:hover{
          color: black;
        }
      }
    }  
  }
}

.sign-up{
  border-top:1px solid #d9d9d9;
  padding:20px 0 0;
  position: absolute;
  bottom:30px;
  &__btn{
    text-align:center;
    width:450px;
    height:45px;
    margin:0 auto;
    display:block;
    background-color: #9be3a5;
    border:1px solid #d9d9d9;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    line-height: 45px;
    text-decoration: none;
    &:hover{
      background-color:#9be3a5;
      color: black;
    }
  }
}

.back-top-page{
  padding:20px 0 0;
  position: absolute;
  bottom:180px;
}
.clearfix{

}

#sign-up{

}
.btn-area{
  margin-top:40px;
}