#start{

}

#waiting{
  background-color: #ffc5ed;
  display: none;
}

.reader_btn{
  width: calc(100vw - 40px);
  height: 100px;
  margin:150px 20px;
  border-radius: 10px;
  background-color: #96d2ea;
}

.encourage_reload {
  text-align: center;
}

#back{
}
.btn_area{
  &__btn{
    border-radius: 10px;
    display:block;
    width:161px;
    height:100px;
    margin:20px auto;
    color:black;
    background-color: #96d2ea;
    &--text{
      text-decoration: none;
    }
    &:hover{
      background-color:orange;
      color: black;
    }
  }
}
link{
  color:white;
}