!!!
%html
  %head
  %body
    %button#start.reader_btn FeliCaリーダーに接続
    %button#waiting.reader_btn
      入室退出受付中です。
      ICカードリーダーにICカードをかざしてください。
    #idm{style: "display: none;"}
  %p.encourage_reload リーダーにうまく接続できない場合はカードリーダを抜き差ししてください。
  .btn_area
    %button#back.btn_area__btn
      = link_to "メニューに戻る",root_path,class:"btn_area__btn--text"