!!!
/
  This is free and unencumbered software released into the public domain.
  Anyone is free to copy, modify, publish, use, compile, sell, or
  distribute this software, either in source code form or as a compiled
  binary, for any purpose, commercial or non-commercial, and by any
  means.
  In jurisdictions that recognize copyright laws, the author or authors
  of this software dedicate any and all copyright interest in the
  software to the public domain. We make this dedication for the benefit
  of the public at large and to the detriment of our heirs and
  successors. We intend this dedication to be an overt act of
  relinquishment in perpetuity of all present and future rights to this
  software under copyright law.
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
  IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
  OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
  ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
  OTHER DEALINGS IN THE SOFTWARE.
  For more information, please refer to <https://unlicense.org>
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title WebUSBでFeliCaリーダーにかざしたFeliCaのIDmを表示
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css", :rel => "stylesheet"}/
  %body
    .uk-navbar-container.uk-margin
      .uk-container.uk-container-expand
        .uk-navbar
          .uk-navbar-left
            %span.uk-navbar-item.uk-logo WebUSBでFeliCa IDmを読むテスト
    .uk-container
      .uk-margin
        USB接続のFeliCaリーダー経由でFeliCaのIDmを読み、表示します。
        %span.uk-text-danger 注意：チャージ済みだったり、オートチャージが有効なカードでは絶対に実験しないでください。勝手に決済が発生してお金が無くなっても責任はとれません。
      %button#start.uk-button.uk-button-large.uk-button-default.uk-width-1-1.uk-text-capitalize FeliCaリーダーに接続
      #waiting.uk-margin{:style => "display: none;"}
        %button.uk-button.uk-button-large.uk-button-default.uk-width-1-1{:disabled => "disabled"}
          %span.uk-spinner.uk-icon{"uk-spinner" => ""}
            %svg{:height => "30", :ratio => "1", :viewbox => "0 0 30 30", :width => "30", :xmlns => "http://www.w3.org/2000/svg"}
              %circle{:cx => "15", :cy => "15", :fill => "none", :r => "14", :stroke => "#000"}
          FeliCaリーダーにカードをかざしてください
      #idm.uk-alert.uk-alert-success.uk-text-center{:style => "display: none;", "uk-alert" => ""}
    %div= link_to "戻る",root_path
